<img src="assets/band-studio.jpg" alt="New Sweat Studio Shot" class="band-photo" width="100%">

 <!-- Band Bio Text Section -->
 <div class="text-container page-padded-content">
    <div class="text-content-wrapper">
        <h2>Band Bio</h2>
        <p>
        New Sweat is a versatile force of live music and have become veterans of the Raleigh live music scene.  They can work a quiet room with melodic, harmony-rich folk from the back porch, or crank out dynamic grooves and jams as a full band that will keep any crowd moving.  Mixing roots-rock classics with their road-worn original songs, New Sweat transcends the bar-band trappings with a free-flowing setlist and turns the place into a raucous juke joint.    </p>
        <p>
        Growing up together in rural Pennsylvania, Garrett Cummings, Abe Kline, and Taylor Cummings were raised on home-grown music. Following different paths to North Carolina, the trio came together as a three-piece band in Raleigh in the summer of 2007.  Doug McCullough joined the group in May 2012 and filled out the band's sound with keys and soulful vocals and harmonies.  The group released their debut original album, 'No Instructions' in winter of 2012 and continued to write and road-test original tunes on the vibrant downtown scenes of Raleigh and Durham.     
        <p> 
        In late 2018, New Sweat got back into the studio and recorded a second album, 'Machines'.  The 11-song record is set to be released on August 23rd, 2019.  'Machines' thematically sits at the intersection of personal experience and the social-political moment and expands the band's roots-rock sound.
        </p>
    </div>
  <div>
</div>